@font-face{
    font-family: "minhafont";
    src: url('../fonts/minhafont') format("truetype");
  }
  h1{
  font-family: "minhafont" !important;
  }

  #logo{
    height:60px;
    width:auto;
  }




  