@font-face{
    font-family: "minhafont";
    src: url('../fonts/minhafont') format("truetype");
  }
  h1{
  font-family: "minhafont" !important;
  }

  #conquistas{
    overflow-x:hidden !important;
  }

  #logo{
    height:60px;
    width:auto;
  }

  .hero-area{
    max-width: 100%;
  }

  .linkNav:hover{
    color: RGB(240, 213, 81) !important ;
    border-color: RGB(240, 213, 81) !important;
  }

  @media only screen and (max-width:768px){
    .navbar-area.sticky{
      padding: 0px 0px 0px 0px !important;
    }
    #logo{
      height:40px !important;
      
    }
  }







  